<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    title frontend-project-lvl3 &middot; Hexlet
  body.pt-5
    #previewModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#previewModalTitle.modal-title
            #previewModalCloseButton.button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          #previewModalBody.modal-body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      .navbar-brand
        .container
          .row.align-items-center.justify-content-left
            .col-2.pl-0.pr-2
              img(src="https://cdn2.iconfinder.com/data/icons/social-icon-3/512/social_style_3_rss-512.png" width="32" height="32")
            .col-10.pl-0 The RSS Reader Project
    main(role='main')
      .jumbotron
        .container
          .row
            .col.text-center
                h1#header.lead.display-4 А вы пользуетесь RSS?
                #pitch.lead Если еще нет, то попробуйте прямо сейчас! Это бесплатно. Вот как можно оставаться в курсе всех последних новостей, используя RSS: найдите интересующую вас #[a(data-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseExample") RSS-ленту], вставьте ссылку на нее в поле ниже и нажмите кнопку #[i Добавить]:
        .container
          .row
            .col.text-center
              .feedback.mt-3.mb-3
              form#addChannelForm
                input(type="text" aria-label="url" name="link").form-control.my-3
                #collapseLinks.collapse
                  .card.card-body.
                    Например: #[u(class="user-select-all") https://ru.hexlet.io/blog.rss] #[u(class="user-select-all") https://www.liga.net/news/sport/rss.xml]
                .button-container
                  button(type="submit" aria-label="add")#addButton.btn.btn-lg.btn-primary.mt-3.mb-3 Добавить
        .container#channelNav
          .mt-4.text-center
            i Пока вы не добавили ни одной ленты...
      footer
