doctype html
head
  meta(charset='utf-8')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  title frontend-project-lvl3 &middot; Hexlet
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  .navbar-brand
    .container
      .row.align-items-center
        .col.pl-0.pr-2
          img(src="https://cdn2.iconfinder.com/data/icons/social-icon-3/512/social_style_3_rss-512.png" width="32" height="32")
        .col.pl-0 The RSS Reader Project
main(role='main')
  .jumbotron
    .container
      .row
        .col.text-center
            h1.lead.display-4 Ever tried RSS?
            .lead
              | If you haven't, why not try it now? It's free! To follow the latest and greatest from your favorite influencers and websites, find an #[a(href="https://www.lifewire.com/what-is-an-rss-feed-4684568") RSS feed] you're interested in, paste the link below, and push #[i Add channel]:
    .container
      .row
        .col.text-center
          .feedback.mt-3.mb-0
          form#channelLinkForm
            input(type="text" name="link").form-control.my-3
            button(type="submit").btn.btn-lg.btn-primary.mt-0.mb-3 Add channel
    .container#channelNav
