<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    title frontend-project-lvl3 &middot; Hexlet
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
  body
    #previewModal.modal.fade(tabindex='-1' role='dialog' data-backdrop='static' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#previewModalTitle.modal-title
            #previewModalCloseButton.button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          #previewModalBody.modal-body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      .navbar-brand
        .container
          .row.align-items-center.justify-content-left
            .col-2.pl-0.pr-2
              img(src="https://cdn2.iconfinder.com/data/icons/social-icon-3/512/social_style_3_rss-512.png" width="32" height="32")
            .col-10.pl-0 The RSS Reader Project
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#myRssNavbar' aria-controls='myRssNavbar' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #myRssNavbar.collapse.navbar-collapse
        .mr-auto
        ul.navbar-nav
            li.nav-item.dropdown
              a(href="#" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle &#127758;
              div(aria-labelledby="languageDropdown").dropdown-menu
                a(href='#').dropdown-item EN
                a(href='#').dropdown-item RU
                a(href='#').dropdown-item ES
    main(role='main')
      .jumbotron
        .container
          .row
            .col.text-center
                h1#header.lead.display-4
                #pitch.lead
        .container
          .row
            .col.text-center
              .feedback.mt-3.mb-3
              form#addChannelForm
                input(type="text" name="link").form-control.my-3
                #collapseLinks.collapse
                  .card.card-body.
                .button-container
                  button(type="submit")#addButton.btn.btn-lg.btn-primary.mt-3.mb-3
        .container#channelNav
      footer
        #badge
          div(data-user="sol-un").github-profile-badge.custom-background
